# Individual Assignment 3

## Name: Yon Hui Yi Student ID: 20022992

## Answer

## 1. Data Import & Module Usage

In [44]:
# Instruction 1
# import necessary modules 

import pandas as pd
import numpy as np
import random
from decimal import Decimal

In [45]:
# Instruction 2
# import provided excel file with Pandas module

df = pd.read_excel('Furniture.xlsx')

## 2. Data Cleaning & Preprocessing

In [46]:
# Instruction 1
# read dataset into pandas Dataframe and check for missing values

missing_values = df.isnull().sum()
print(f'Missing Values: \n{missing_values}')

Missing Values:
Year                   8
Batch_ID               8
Furniture_Name         5
Production             8
Labor_Hours            7
Laborhours_Perunit    17
dtype: int64

In [47]:
# Instruction 2
# remove missing values from dataset

df = df.dropna()

# recheck whether there is still missing value
missing_values = df.isnull().sum()
print(f'Missing Values: \n{missing_values}')

Missing Values:
Year                  0
Batch_ID              0
Furniture_Name        0
Production            0
Labor_Hours           0
Laborhours_Perunit    0
dtype: int64

## 3. Data Manipulation & Output Formatting

In [48]:
# Instruction 1 
# Compute the 'Laborhours_Perunit' using 'Labor_Hours' and 'Production' columns

df['Laborhours_Perunit'] = df['Labor_Hours'] / df['Production']
print(df['Laborhours_Perunit'])

0     0.399829
1     0.987503
2     0.329685
3     0.333303
4     0.314531
5     0.680641
7     0.441517
9     0.851614
10      0.6009
11    0.498772
12    0.584937
13    0.436903
14    3.275862
15    0.854122
16     0.02666
17    0.486048
22     1.14278
23     0.51185
24    0.591468
25    0.455972
26    0.463201
27    0.839446
28    0.517772
29    0.347548
31    0.561337
32    0.400602
33    0.532742
34    0.436749
37    0.242122
38    0.436257
39    0.217133
40    0.489013
41    0.589968
42     1.11444
43    0.388855
44    0.245795
45    0.124052
46    0.403263
47    0.568609
48    0.175338
49    0.133549
Name: Laborhours_Perunit, dtype: object

In [49]:
# Instruction 2
# Save the records where 'Laborhours_Perunit' is greater than 1 to a text file

more_laborhours = df[df['Laborhours_Perunit'] > 1]
more_laborhours.to_csv('MoreLaborHours_Records.txt', index=False)

## 4. Data Exploration & Presentation

In [50]:
# Instruction 1
# display the first 10 rows of dataset in tabular format

df.head(10)

,Year,Batch_ID,Furniture_Name,Production,Labor_Hours,Laborhours_Perunit
0,2013.0,103381.0,Tacoa Highwall Table,56004.0,22392,0.399829
1,2013.0,103404.0,Reid School Table,28807.0,28447,0.987503
2,2013.0,100759.0,North River Table,1440115.0,474784,0.329685
3,2013.0,103246.0,Bear Creek Chair,87587.0,29193,0.333303
4,2013.0,103451.0,Knight Chair,147499.0,46393,0.314531
5,2013.0,103433.0,Crane Central Chair,69339.0,47195,0.680641
7,2013.0,100851.0,Oak Grove Table,2269014.0,1001809,0.441517
9,2013.0,102901.0,Shoal Creek Table,1453024.0,1237415,0.851614
10,2013.0,103180.0,Sloan Mountain Chair,327780.0,196963,0.6009
11,2013.0,103182.0,Fishtrap Table,175058.0,87314,0.498772

In [51]:
# Instruction 2
# Compute and show mean, median and standard deviation for
# 'Production', 'Labor Hours', and 'Laborhours Perunit' columns

columns = ['Production', 'Labor_Hours', 'Laborhours_Perunit']

statistics = {
    'Mean': df[columns].mean(),
    'Median': df[columns].median(),
    'Standard Deviation': df[columns].std()
}

# Creating a DataFrame to display the statistics in a tabular format
statistics_df = pd.DataFrame(statistics)


print(statistics_df)

                             Mean    Median Standard Deviation
Production          679373.731707  147499.0     1486550.545505
Labor_Hours         263318.536585   87314.0      496584.474461
Laborhours_Perunit       0.561773  0.463201           0.500235

In [52]:
# Instruction 3
# Find and print the maximum value of 'Production' and the minimum value of 'Labor Hours'

max_production = df['Production'].max()
min_laborhours = df['Labor_Hours'].min()

print(f'Maximum value of Production: {max_production:.0f}')
print(f'Minimum value of Labor Hours: {min_laborhours}')

Maximum value of Production: 7602722
Minimum value of Labor Hours: 220

## 5. Utilization of Dictionaries, Lists, and Tuples

In [74]:
# Instruction 1
# Store the first 10 rows of the dataset in a dictionary, organized by respective
# columns for easy reference

# Instruction 2
# display information using dictionaries, lists, and tuples

# Lists
first_10_rows_dict = {} # create empty dictionary for first 10 rows (got key and value)
for col in df.columns: # repeat each column (col) for the whole data columns
    first_10_rows_dict[col] = df[col].head(10).tolist() 
    # save the first 10 rows of each columns into a list in the dictionary
print('First 10 rows organized by column in lists: \n')
for key, value in first_10_rows_dict.items():
    print(f'{key}: {value}') # key = column, value = first 10 rows data
    

# Dictionaries
first_10_rows_dict = {}
for col in df.columns:
    first_10_rows_dict[col] = df[col].head(10).tolist()

print('\nFirst 10 rows organized by columns in dictionaries: \n', first_10_rows_dict)

# Tuples
first_10_rows_tuples = []
for col in df.columns:
    first_10_rows_tuples.append((col, df[col].head(10).tolist()))

print('\nFirst 10 rows organized by columns in tuples: \n', first_10_rows_tuples)

First 10 rows organized by column in lists:

Year: [2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0]
Batch_ID: [103381.0, 103404.0, 100759.0, 103246.0, 103451.0, 103433.0, 100851.0, 102901.0, 103180.0, 103182.0]
Furniture_Name: ['Tacoa Highwall Table', 'Reid School Table', 'North River Table', 'Bear Creek Chair', 'Knight Chair', 'Crane Central Chair', 'Oak Grove Table', 'Shoal Creek Table', 'Sloan Mountain Chair', 'Fishtrap Table']
Production: [56004.0, 28807.0, 1440115.0, 87587.0, 147499.0, 69339.0, 2269014.0, 1453024.0, 327780.0, 175058.0]
Labor_Hours: [22392, 28447, 474784, 29193, 46393, 47195, 1001809, 1237415, 196963, 87314]
Laborhours_Perunit: [0.39982858367259483, 0.9875030374561738, 0.3296847821180947, 0.333302887414799, 0.3145309459725151, 0.6806414860323916, 0.44151732867227794, 0.8516136003259409, 0.6008999938983465, 0.49877183562019445]

First 10 rows organized by columns in dictionaries:
 {'Year': [2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0], 'Batch_ID': [103381.0, 103404.0, 100759.0, 103246.0, 103451.0, 103433.0, 100851.0, 102901.0, 103180.0, 103182.0], 'Furniture_Name': ['Tacoa Highwall Table', 'Reid School Table', 'North River Table', 'Bear Creek Chair', 'Knight Chair', 'Crane Central Chair', 'Oak Grove Table', 'Shoal Creek Table', 'Sloan Mountain Chair', 'Fishtrap Table'], 'Production': [56004.0, 28807.0, 1440115.0, 87587.0, 147499.0, 69339.0, 2269014.0, 1453024.0, 327780.0, 175058.0], 'Labor_Hours': [22392, 28447, 474784, 29193, 46393, 47195, 1001809, 1237415, 196963, 87314], 'Laborhours_Perunit': [0.39982858367259483, 0.9875030374561738, 0.3296847821180947, 0.333302887414799, 0.3145309459725151, 0.6806414860323916, 0.44151732867227794, 0.8516136003259409, 0.6008999938983465, 0.49877183562019445]}

First 10 rows organized by columns in tuples:
 [('Year', [2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0, 2013.0]), ('Batch_ID', [103381.0, 103404.0, 100759.0, 103246.0, 103451.0, 103433.0, 100851.0, 102901.0, 103180.0, 103182.0]), ('Furniture_Name', ['Tacoa Highwall Table', 'Reid School Table', 'North River Table', 'Bear Creek Chair', 'Knight Chair', 'Crane Central Chair', 'Oak Grove Table', 'Shoal Creek Table', 'Sloan Mountain Chair', 'Fishtrap Table']), ('Production', [56004.0, 28807.0, 1440115.0, 87587.0, 147499.0, 69339.0, 2269014.0, 1453024.0, 327780.0, 175058.0]), ('Labor_Hours', [22392, 28447, 474784, 29193, 46393, 47195, 1001809, 1237415, 196963, 87314]), ('Laborhours_Perunit', [0.39982858367259483, 0.9875030374561738, 0.3296847821180947, 0.333302887414799, 0.3145309459725151, 0.6806414860323916, 0.44151732867227794, 0.8516136003259409, 0.6008999938983465, 0.49877183562019445])]